@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

body {
    background-color: #f5f5f5;
}

.top {
    width: 100%;
    height: 27px;
    background: url(../image/top_bg.jpg) repeat-x;
}

.top_content {
    width: 1000px;
    margin: 0 auto;
}

.top_content li {
    list-style-image: url(../image/li_bg.gif);
    float: right;
    width: 70px;
    line-height: 27px;
}

.top_content a:link, .top_content a:visited {
    color: #8e8e8e;
    text-decoration: none;
}

.top_content a:hover, .top_content a:active {
    color: #900000;
    text-decoration: none;
}

.wrap {
    width: 1000px;
    margin: 0 auto;
}

.logo {
    height: 80px;
    background-color: #ffffff;
}

.logo_left {
    width: 200px;
    float: left;
}

.logo_right {
    width: 300px;
    float: right;
    height: 28px;
    margin-top: 30px;
    color: #8e8e8e;
}

.logo_right img {
    vertical-align: middle;
    margin-right: 10px;
}

.tel {
    font-family: "微软雅黑";
    font-size: 16px;
    color: #c00000;
}