@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

body {
    background-color: #f5f5f5;
}

.top {
    width: 100%;
    height: 27px;
    background: url(../images/top_bg.jpg) repeat-x;
}

.top_content {
    width: 1000px;
    margin: 0 auto;
}

.top_content li {
    list-style-image: url(../images/li_bg.gif);
    float: right;
    width: 70px;
    line-height: 27px;
}

.top_content a:link, .top_content a:visited {
    color: #8e8e8e;
    text-decoration: none;
}

.top_content a:hover, .top_content a:active {
    color: #900000;
    text-decoration: none;
}

.wrap {
    width: 1000px;
    margin: 0 auto;
}

.logo {
    height: 80px;
    background-color: #ffffff;
    overflow: hidden;
}

.logo_left {
    width: 200px;
    float: left;
}

.logo_right {
    width: 300px;
    float: right;
    height: 28px;
    margin-top: 30px;
    color: #8e8e8e;
}

.logo_right img {
    vertical-align: middle;
    margin-right: 10px;
}

.tel {
    font-family: "微软雅黑";
    font-size: 16px;
    color: #c00000;
}

.nav {
    height: 40px;
}

.nav_left {
    width: 10px;
    background: url(../images/nav_left.jpg) no-repeat;
}

.nav_mid {
    width: 980px;
    background: url(../images/nav_bg.jpg) repeat-x;
    /* background: url(../images/nav_mid.jpg) repeat-x; */
}

.nav_right {
    width: 10px;
    background: url(../images/nav_right.jpg) no-repeat;
}

.nav_left, .nav_mid, .nav_right {
    float: left;
    height: 40px;
}

.nav_mid_left, .nav_mid_right {
    float: left;
}

.nav_mid_left {
    width: 680px;
}

.nav_mid_right {
    width: 300px;
}

.nav_mid_left li {
    float: left;
    list-style-type: none;
    width: 100px;
    text-align: center;
    line-height: 40px;
}

.nav_mid_left a:link, .nav_mid_left a:visited {
    text-decoration: none;
    color: #722828;
    font-size: 16px;
    font-family: "微软雅黑";
}

.nav_mid_left a:hover, .nav_mid_left a:active {
    text-decoration: none;
    color: #3d7228;
    font-size: 16px;
    font-family: "微软雅黑";
}

.search_text {
    width: 190px;
    height: 25px;
    margin-top: 5px;
    background: url(../images/search.jpg) no-repeat right center;
    padding-right: 25px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
}

.ad {
    height: 310px;
    overflow: hidden;
}

.main {
    height: 250px;
    background-color: #ffffff;
    overflow: hidden;
    margin-top: 5px;
}

.news {
    width: 340px;
    border: 1px solid #e8e8e8;
}

.course {
    width: 410px;
    border: 1px solid #e8e8e8;
    margin: 0 7px;
    /* background-color: #ffff66; */
}

.sidebar {
    width: 230px;
}

.news, .course, .sidebar {
    height: 250px;
    float: left;
}

.title {
    height: 35px;
    border-bottom: 2px solid #e8e8e8;
    /* overflow: hidden; */
}

.title_left {
    width: 70%;
    font-family: "微软雅黑";
    font-size: 14px;
    font-weight: bold;
    color: #786f66;
    float: left;
    line-height: 35px;
    padding-left: 20px;
}

.title_right {
    width: 20%;
    float: right;
    line-height: 35px;
    text-align: right;
    padding-right: 10px;
}

.title_right a {
    text-decoration: none;
    color: #999999;
}

.pic_news {
    height: 85px;
    margin-top: 5px;
    overflow: hidden;
    line-height: 22px;
}

.pic_news img, .course_pic img {
    float: left;
    margin: 0 5px;
}

.pic_news a, .course_pic a {
    color: #c00;
    text-decoration: none;
}

.news_list {
    margin-top: 20px;
}

.news_list li {
    list-style-type: none;
    background: url(../images/list.jpg) no-repeat;
    /* margin-left: 10px; */
    padding-left: 10px;
    margin: 8px;
    border-bottom: 1px dotted #ccc;
    overflow: hidden;
}

.news_list a:link, .news_list a:visited {
    text-decoration: none;
    color: #000;
}

.news_list a:hover, .news_list a:active {
    text-decoration: none;
    color: #f00;
}

.news_list span {
    color: #999;
    float: right;
}

.course_pic {
    height: 120px;
    margin-top: 10px;
    line-height: 22px;
}

.course_type {
    height: 37px;
    width: 372px;
    background: url(../images/product_type_bg.jpg) no-repeat;
    margin: 20px auto;
}

.course_type li {
    list-style-type: none;
    float: left;
    line-height: 37px;
    margin: 0 15px;
    text-align: center;
}

.video {
    height: 185px;
    border: 1px solid #e8e8e8;
}

.video_content {
    height: 150px;
}

.sidebar_ad {
    height: 55px;
    border: 1px solid #e8e8e8;
    margin-top: 5px;
}

.copyright {
    width: 100%;
    height: 200px;
    background-color: #e8e8e8;
}

.copyright_content {
    width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
}

.copyright_content li {
    list-style-type: none;
    float: left;
    width: 200px;
    background: url(../images/line.png) no-repeat right center;
    text-align: center;
    line-height: 30px;
    font-family: "微软雅黑";
}

.copyright_content a {
    text-decoration: none;
    color: #999;
    font-size: 18px;
}

.copyright_content li ul li a {
    font-size: 14px;
}